/* global.css */

:root {
  --background: #c4c4c4;
  --foreground: #202020;
  --cards: #dad8d8;
}

/* Tema escuro ativado */
body.dark-theme {
  --background: #202020;
  --foreground: #c4c4c4;
  --cards: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Calibri', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

