.modules{
    height: 250px;
    width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cards);
    border-radius: 10px;
    transition: all 0.3s ease;
}
@media (max-width: 768px) {
    .modules {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%; 
        flex-direction: column;
        min-height: calc(50vh);
    }
}

.avatarModule{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.textModule{
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.avatarBox{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /* Corta a imagem quando ela ultrapassar a área da div */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px var(--background) solid;
    transition: all 0.3s ease;
}
.avatar {
    object-fit: cover; /* Faz a imagem cobrir a área da div, cortando se necessário */
}
.avatarBox:hover{
    filter: drop-shadow(0 0 20px rgba(125, 251, 255, 0.237));
}
.greetings{
    font-size: 16px;
}
.name{
    font-size: 26px;
}
.role{
    font-size: 16px;
}
.iconsSocial a { 
    color: inherit; /* Mantém a cor herdada do link não visitado */ 
    text-decoration: none; /* Remove a decoração de texto */
}
.iconsSocial a:visited {
    text-decoration: none; /* Remove a decoração de texto */
}
.iconsSocial svg{
    padding: 10px;
    transition: 0.3s ease;
}
.iconsSocial svg:hover{
    filter: drop-shadow(0 0 5px rgba(125, 251, 255, 0.637));
}