.container {
    display: flex;
    width: stretch;
    height: 700px;
    background-color: var(--cards);
    border-radius: 10px;
    margin-bottom: 40px;
    flex-direction: column;
    z-index: 2;
    justify-content: space-around;
}
.imgBox {
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 0 0;
    position: relative; 
}
.imgBox img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center; 
    display: block; 
}
.link{
    display: flex;
    width: 100px;
    color: var(--foreground);
    font-size: 20px;
    background-color: var(--cards);
    position: absolute; 
    bottom: 20px; 
    left: 40px;
    border-radius: 20px;
    z-index: 3;
    text-decoration: none;
    transition: all .3s;
    align-items: center;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
}
.link p {
    display: inline;
    padding-left: 5px;
    
}
.link:hover{
    background-color: var(--foreground);
    color: var(--background);
}
.title{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 10px 10px -10px rgba(124, 124, 124, 0.315);
}
.description{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: justify;
    
}
.description p{
    padding: 0 20px;
}
.boxTagsAndColaborators{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -10px 10px -10px rgba(124, 124, 124, 0.315);
}
.boxTags{
    width: 65%;
}
.boxColaborators{
    width: 35%;
}
.boxTags, .boxColaborators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tags, .colaborators{
    font-size: 18px;
    display: flex;
    gap: 10px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    background-color: var(--tag);
    padding: 3px 10px;
    border-radius: 10px;
    color: var(--cards);
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags b{
    display: inline;
    background-color: var(--tag);
    padding: 1px 5px 3px;
    border-radius: 10px;
    color: var(--cards);
}
.titleAndPhotos{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
}
.colaborators {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.colaborators img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.colaborators img:hover {
    transform: scale(1.1);
    transition: all .3s;
    box-shadow: 0 0 15px rgba(125, 251, 255, 0.837);
}


.colaborators > span {
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        min-height: 800px;
    }
    .description p{
        font-size: 14px;
    }
    .boxTagsAndColaborators {
        flex-direction: column; 
        height: auto;
        gap: 20px;
        padding: 10px;
        font-size: 14px;
    }

    .boxTags,
    .boxColaborators {
        width: 100%; 
        justify-content: flex-start; 
        
    }

    .tags {
        flex-wrap: wrap; 
        gap: 10px; 
        padding-left: 0;
    }

    .tag {
        font-size: 12px; 
        padding: 5px 10px;
    }

    .colaborators {
        justify-content: flex-start; 
        gap: 15px;
        
    }

    .colaborators img {
        width: 40px; 
        height: 40px;
    }
    .titleAndPhotos p{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .boxTagsAndColaborators {
        gap: 15px; 
        padding: 8px;
        
    }

    .tags {
        gap: 8px; 
    }

    .tag {
        font-size: 10px;
        padding: 3px 8px;
    }

    .colaborators img {
        width: 35px; 
        height: 35px;
    }
}
