.container {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 10px;
   background: var(--glass);
   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgb(255, 255, 255);
   background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, rgba(12, 0, 255, 0) 100%);
   gap: 20px;
   transition: 0.5s ease;
}
.star{
   transition: 0.5s ease;
}
.container:hover{
   transform: scale(1.5);
   filter: drop-shadow(0 0 15px rgba(255, 230, 0, 0.5));
}

@media (max-width: 800px) {
   .container {
      width: 150px;
   }
}
