.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    z-index: 1;
    gap: 40px;
}

.spanTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns with equal width */
    grid-template-rows: auto auto;
    /* Automatically sized rows */
    gap: 30px;
    /* Space between grid items */
    width: 90%;
    max-width: 1400px;
}

.graduation,
.experience,
.resume {
    display: flex;
    background-color: var(--cards);
    border-radius: 10px;
    text-align: center;
}

.graduation {
    grid-column: 1;
    /* First column */
    grid-row: 1;
    /* First row */
    flex-direction: column;
    padding: 20px;
}

.experience {
    grid-column: 2;
    /* Second column */
    grid-row: 1;
    /* First row */
    flex-direction: column;
    padding: 20px;
}

.iconAndModule {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
    padding-bottom: 20px;
}

.imageAndText {
    display: flex;

}

.image {
    border-radius: 10px;
    transition: 0.2s ease;
    margin-left: 20px;
}

.image:hover {
    box-shadow: 0 0 15px rgba(125, 251, 255, 0.837);
}

.spans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 8px;
    text-wrap: nowrap;
}

.resume {
    grid-column: 1 / span 2;
    /* Spans both columns */
    grid-row: 2;
    /* Second row */

}

.resumeImg {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(74, 141, 91, 0.281);
    height: stretch;
    border-radius: 10px 0px 0px 10px;
}

.cmatrix {
    opacity: 1;
    width: stretch;
    border-radius: 10px 0px 0px 10px;
}

.resumeText {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 1.5s ease;
    position: relative;
    text-align: justify;
    background: linear-gradient(90deg, rgba(74, 141, 91, 0.281) 0%, rgba(40, 180, 173, 0.219) 10%, rgba(40, 180, 173, 0.100) 20%, rgba(12, 0, 255, 0) 30%);
}

@media (max-width: 1175px) {
    .resume {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        border-radius: 10px;
    }

    .resumeImg {
        justify-content: center;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .cmatrix {
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    .resumeText {
        width: auto;
        background: linear-gradient(180deg, rgba(74, 141, 91, 0.281) 0%, rgba(40, 180, 173, 0.219) 10%, rgba(40, 180, 173, 0.100) 20%, rgba(12, 0, 255, 0) 30%);
    }
}

@media (max-width: 1000px) {
    .gridContainer {
        grid-template-columns: 100%;
        /* Uma única coluna */
        grid-template-rows: auto auto auto;
        /* Três linhas */
    }

    .graduation {
        grid-column: 1;
        /* Ajustar ao layout de uma coluna */
        grid-row: 1;
    }

    .experience {
        grid-column: 1;
        /* Ajustar ao layout de uma coluna */
        grid-row: 2;
    }

    .resume {
        grid-column: 1;
        /* Ocupar toda a largura da coluna */
        grid-row: 3;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 20px;
    }
    .gridContainer {
        grid-template-rows: auto auto auto;
    }
    .image {
        margin: 0;
        border-radius: 10px;
    }
    .cmatrix{
        width: 90%;
        padding: 10px;
        border-radius: 20px;
    }

    .gridContainer {
        gap: 20px;
    }

    .spans {
        font-size: 14px;
    }

    .resumeText {
        height: auto;
    }

}

@media (max-width: 400px) {
    .spans {
        font-size: 10px;
    }
}